.tp-level {
  width: 100%e;
  display: flex;
  flex-wrap: wrap;
  &__column {
    flex: 1;
  }

  &__title {
    @extend %center-flex;
    flex: 1;
    height: 60px;
    background-color: #34616e;
    //font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    border: 1px solid #fff;
  }

}

