/** to customize the look and feel the calc override this variables  in your own variable scss file
* !!IMPORTANT Be sure that you include your own variables earlier than default ones**/

//default styles for title
$cl-title-font-family: 'OpenSans-SemiBold' !default;
$cl-title-color: #fce23f !default;
$cl-title-font-size: 18px !default;
$cl-title-text-transform: uppercase !default;

//default select for title

$cl-select-title-color: #fbe23f !default;
$cl-select-title-font-size: 18px !default;
$cl-select-title-font-family: 'OpenSans-Regular', serif !default;

$cl-select-item-font-size: 15px !default;
$cl-select-item-color: #ffffff !default;
$cl-select-item-border: #3ddfff !default;
$cl-select-item-font-family: 'OpenSans-Regular', serif !default;

$cl-select-item-active-color: #21414a !default;
$cl-select-item-active-background-color: #3ddfff !default;

$cl-select-single-active-color: #21414a !default;
$cl-select-single-active-background-color: #3ddfff !default;

/**  end of the default variables **/

//theme lists
$themes: $theme-dark-blue, $theme-green;

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";
// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

// Colors
$primary-color-dark-blue: #273952;
$primary-color-yellow: #febc09;

//Fonts
$font-stack-regular: 'OpenSans-Regular', serif;
$font-stack-bold: 'OpenSans-Bold', serif;
$font-stack-extrabold: 'OpenSans-ExtraBold', serif;
$font-stack-semibold: 'OpenSans-Semibold', serif;

//bootstrap breakpoint

$xx-bt: '(max-width: 576px)';
$xs-bt: '(max-width: 767px)';
$sm-bt: '(max-width: 991px)';
$md-bt: '(max-width: 1199px)';
$lg-bt: '(max-width: 1439px)';

//breakpoints
$phone: '(max-width: 667px)';
$phonePortrait: '(max-width: 414px)';
$phoneLandscape: '(min-width: 415px) and (max-width: 667px)';
$tablet: '(min-width: 668px) and (max-width: 1024px)';
$tabletPortrait: '(min-width: 668px) and (max-width: 768px)';
$tabletLandscape: '(min-width: 769px) and (max-width: 1024px)';
$desktop: '(min-width: 1025px) and (max-width: 1366px)';
$desktopWide: '(min-width: 1367px) and (max-width: 1680px)';
$desktopHD: '(min-width: 1681px) and (max-width: 1920px)';
$desktopMega: '(min-width: 1921px)';

$landscape: '(orientation: landscape)';
//Layouts
//$page-names: 'home' 'custom-essays' 'research-papers' 'term-papers' 'custom-book-review';

$nav-prefix: ch-nav;
$navbar-width: 1440px;
$navbar-height: 70px;
$navbar-color-bg: #ffffff;

$arc-width: percentage(1743px/1440px);
$section-yellow-home-min-height: 776px;
$section-yellow-min-height: 626px;
$section-yellow-bottom-min-height: 796px;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
)
