%calc-sm-wrap {
  height: $input-height;
  border-radius: $input-border-radius;
  background-color: $input-background-color;
  box-shadow: $input-box-shadow;
  border: $input-border;
  margin: $input-margin;
}

.calc-sm-counter-wrap {
  @extend %calc-sm-wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calc-sm-counter {
  @extend %center-flex;
  height: 100%;
  width: 50px;
  text-align: center;
  color: #273952;
  font-size: 27px;
  cursor: pointer;
  &--plus {
  }
  &--minus {
  }
}

.calc-sm-page-value {
  height: 100%;
  &__input {
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    font-size: 14px;
    letter-spacing: normal;
    color: #273952;
    cursor: text;
    width: 30px;
  }
}