%calc-sm-wrap {
  height: $input-height;
  border-radius: $input-border-radius;
  background-color: $input-background-color;
  box-shadow: $input-box-shadow;
  border: $input-border;
  margin: $input-margin;
}
.calc-sm-select-group{
  position: relative;
  flex: 0 0 100%;
}

.calc-sm-select-wrap {
  @extend %calc-sm-wrap;
  position: relative;
  flex: 0 0 100%;


}

.calc-sm-select {
  @extend %calc-sm-wrap;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &--service {
    z-index: 30;
  }
  &--level {
    z-index: 20;
  }
  &--deadline {
    z-index: 10;
  }
  &:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    display: block;
    right: 15px;
    top: calc(50% - 16.200000000000003px / 2);
    border-bottom: 2px solid #273952;
    border-left: 2px solid #273952;
    transform: rotate(-45deg);
    pointer-events: none;
  }
}