%calc-sm-wrap {
  height: $input-height;
  border-radius: $input-border-radius;
  background-color: $input-background-color;
  box-shadow: $input-box-shadow;
  border: $input-border;
  margin: $input-margin;
}

.calc-sm-select-wrap {
  @extend %calc-sm-wrap;
  position: relative;
  padding: 5px 15px;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}