.calc-lg-container {
  margin: 20px auto;
  padding: 20px 50px;
  border-radius: 20px;
  max-width: 600px;
  //background: #30505a url(https://99papers-1392.kxcdn.com/pay-icons-gray.png) no-repeat 10% calc(100% - 137px)/49% auto;
  background: #30505a;
}
