.calc-lg-range-wrap {
  margin: 30px 0;
  padding-top: 30px;
  //overflow: hidden;
}

.calc-lg-range {
  position: relative;
  width: calc(100% + 100% / 9 - 14px);
  margin-left: calc(-100% / 9 / 2 + 7px);
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.calc-lg-range-item {
  position: relative;
  flex: 1;
  height: 50px;
  @extend %center-flex;

  &::after, &::before {
    position: absolute;
    content: '';
    width: calc(50% - 5px - 2px);
    height: 2px;
    background-color: #72dcfb;
  }
  &::after {
    right: 0;
  }
  &::before {
    left: 0;

  }
  &:first-child::before {
    content: none;
  }
  &:last-child::after {
    content: none;
  }
  &.active {
    &::after {
      background-color: #72dcfb;
      width: calc(50% - 10px - 2px);
    }
    &::before {
      background-color: #fce23f;
      width: calc(50% - 10px - 2px);
      height: 4px;
    }
  }

  &.checked {
    &::after {
      background-color: #fce23f;
      height: 4px;
    }
    &::before {
      background-color: #fce23f;
      height: 4px;
    }
  }

  &__circle {
    width: 10px;
    height: 10px;
    background: #23dbe1;
    border-radius: 50%;
    .checked & {
      background-color: #fce23f;
    }
    .active & {
      background-color: #fce23f;
      width: 20px;
      height: 20px;
    }
  }
}

.calc-lg-range-popup {
  position: absolute;
  display: none;
  top: -30px;
  left: -10px;
  bottom: 35px;
  height: 30px;
  width: 70px;
  text-align: center;
  background-color: #72dcfb;
  box-shadow: inset 0 1px 2px 0 rgba(64, 62, 62, 0.15);
  border-radius: 14px;
  margin-bottom: 10px;
  @extend %center-flex;
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #72dcfb;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &__text {
    color: #30505a;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .active & {
    display: block;
  }
  .calc-lg-range-item:first-child & {
    left: 0;
    &::after {
      border: 12px solid transparent!important;
      border-left: 12px solid #72dcfb !important;
    }
  }

  .calc-lg-range-item:last-child & {
    right: 0;
    left: auto;
    &::after {
      border: 12px solid transparent!important;
      border-right: 12px solid #72dcfb !important;
    }
  }
}
