.calc-lg-title {
  font-family: OpenSans-ExtraBold,serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.3;
  color: #fce23f;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

