
.cl-range-wrap {
  margin: 10px 0 30px;
  padding-top: 30px;
  //overflow: hidden;
}

.cl-range {
  position: relative;
  //width: calc(100% + 100% / 9 - 14px);
  //margin-left: calc(-100% / 9 / 2 + 7px);
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.cl-range-item {
  position: relative;
  flex: 1;
  height: 50px;
  @extend %center-flex;

  &::after, &::before {
    position: absolute;
    content: '';
    width: calc(50% - 5px - 2px);
    height: 2px;
    background-color: $cl-range-color;
    top: 50%;
    transform: translateY(-50%);
  }
  &::after {
    right: 0;
  }
  &::before {
    left: 0;

  }
  &:first-child::before {
    content: none;
  }
  &:last-child::after {
    content: none;
  }
  &.active {
    &::after {
      background-color: $cl-range-color;
      width: calc(50% - 10px - 2px);
    }
    &::before {
      background-color: $cl-range-checked-color;
      width: calc(50% - 10px - 2px);
      height: 4px;
    }
  }

  &.checked {
    &::after {
      background-color: $cl-range-checked-color;
      height: 4px;
    }
    &::before {
      background-color: $cl-range-checked-color;
      height: 4px;
    }
  }

  &__circle {
    width: 10px;
    height: 10px;
    background: $cl-range-color;
    border-radius: 50%;
    .checked & {
      background-color: $cl-range-checked-color;
    }
    .active & {
      background-color: $cl-range-checked-color;
      width: 20px;
      height: 20px;
    }
  }
}



.cl-range-popup {
  position: absolute;
  display: none;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 35px;
  height: 30px;
  min-width: $cl-range-popup-min-width;
  text-align: center;
  background-color: $cl-range-popup-background;
  box-shadow: inset 0 1px 2px 0 rgba(64, 62, 62, 0.15);
  border-radius: 14px;
  @extend %center-flex;
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid $cl-range-popup-background;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &__text {
    font-family: $cl-range-popup-font-family, serif;
    color: $cl-range-popup-color;
    font-size: $cl-range-popup-font-size;
  }
  .active & {
    display: flex;
  }
  .cl-range-item:first-child & {
    left: 0;
    &::after {
      left: 15px;
      right: auto;
      border-right: 12px solid transparent;
      border-top: 12px solid $cl-range-popup-background;
      border-left: 3px solid transparent;
    }
  }

  .cl-range-item:last-child & {
    right: 0;
    left: auto;
    &::after {
      right: 15px;
      left: auto;
      border-left: 12px solid transparent;
      border-top: 12px solid $cl-range-popup-background;
      border-right: 3px solid transparent;

    }
  }
}

@each $theme in $themes {
  .#{map_get($theme, name)} .cl-range-item {
    &::after, &::before {
      background-color: map_get(map_get($theme, range), background-color);
    }
    &.active::after {
      background-color: map_get(map_get($theme, range), background-color);
    }
    &.active::before, &.checked::before, &.checked::after {
      background-color: map_get(map_get($theme, range), background-color-cheked);
    }

  }
  .#{map_get($theme, name)} .cl-range-item__circle {
    background-color: map_get(map_get($theme, range), background-color);
  }
  .#{map_get($theme, name)} .active .cl-range-item__circle {
    background-color: map_get(map_get($theme, range), background-color-cheked);
  }
  .#{map_get($theme, name)} .checked .cl-range-item__circle {
    background-color: map_get(map_get($theme, range), background-color-cheked);
  }

  .#{map_get($theme, name)} .cl-range-popup {
    background-color: map_get(map_get($theme, range), background-color);
    &::after {
      border-top-color: map_get(map_get($theme, range), background-color);
    }
    &__text {
      font-family: map_get(map_get($theme, range), font-family);
      color: map_get(map_get($theme, range), color);
      font-size: map_get(map_get($theme, range), font-size);
    }
  }
  .#{map_get($theme, name)} .cl-range-item:first-child .cl-range-popup::after {
    border-top-color: map_get(map_get($theme, range), background-color);

  }
  .#{map_get($theme, name)} .cl-range-item:last-child .cl-range-popup::after {
    border-top-color: map_get(map_get($theme, range), background-color);

  }
}