.calc-lg-counter-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc-lg-counter-wrap {
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 190px;
  background-color: #72dcfb;
  border-radius: 100px;
  padding: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), inset 0 1px 0 0 rgba(255, 255, 255, 0.44);
}

.calc-lg-counter {
  @extend %center-flex;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  width: 56px;
  height: 100%;
  border-radius: 50%;
  &--plus {
    color: #30505a;
    border: 2px solid #30505a;
    background-color: #72dcfb;
  }
  &--minus {
    background-color: #30505a;
    color: #72dcfb;
    border: 1px solid #72dcfb;
  }
}

.calc-lg-page-value {
  height: 100%;
  font-size: 14px;
  letter-spacing: normal;
  cursor: text;
  &__input {
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    width: 30px;
    background-color: transparent;
    color: inherit;
  }
}

.calc-lg-single-price {
  &__title {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 1.21;
    text-align: right;
    color: #72dcfb;

  }
  &__value {
    font-family: OpenSans;
    height: 40px;
    border-radius: 100px;
    border: solid 1px #72dcfb;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #72dcfb;
    padding: 8px 17px;
    margin-left: 10px;
  }
}