.calc-lg-select-wrap {
  position: relative;
}

.calc-lg-select-title {
  color: #ffed7b;
  font-size: 18px;
}

.calc-lg-select-list {
  position: relative;
  padding-left: 0;
  list-style: none;
  display: flex;
  z-index: 50;
}

.calc-lg-select-item {
  @extend %center-flex;
  height: 60px;
  flex: 1;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #23dbe1;
  color: #ffffff;
  &:first-child {
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
  }
  &:last-child {
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
  }
  &.active {
    background-color: #23dbe1;
    color: #30505a
  }
}

.calc-lg-select-single {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 27px;
  height: 60px;
  border-radius: 70px;
  border: 1px solid #23dbe1;
  background-color: #23dbe1;
  &__text {
    color: #30505a;
  }
  &__close {
    font-size: 18px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: #23dbe1;
    border: solid 2px #30505a;
    text-align: center;
    line-height: 56px;
    cursor: pointer;
    color: #30505a;
  }
  &.open {
    display: flex;
  }
}