%cl-dropdown-wrap-default {
  border: 1px solid $cl-dropdown-border-color;
  border-bottom-left-radius: $cl-dropdown-border-radius;
  border-bottom-right-radius: $cl-dropdown-border-radius;
  background-color: $cl-dropdown-background;
}

.cl-dropdown-wrap {
  @extend %cl-dropdown-wrap-default;
  display: none;
  position: relative;
  padding: 44px 10px 10px;
  top: -44px;
  left: 0;
  border-top: 0;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all 0.5s cubic-bezier(0, 1, .5, 1);
  z-index: 20;
  .open & {
    display: block;
    opacity: 1;
    visibility: visible;
    max-height: 400px;
  }
}

.cl-dropdown {
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  max-height: 160px;
  overflow-y: auto;
  &__item {
    font-family: $cl-dropdown-font-family;
    font-size: $cl-dropdown-font-size;
    line-height: 1.3;
    color: $cl-dropdown-color;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    width: 10px;
    border-radius: 5px;
    background-color: $cl-dropdown-scroll-background;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #fce23f;
    border: solid 2px $cl-dropdown-scroll-background;
  }
}

@each $theme in $themes {
  .#{map_get($theme, name)} .cl-dropdown-wrap {
    border-bottom-left-radius: map_get(map_get($theme, dropdown), border-radius);
    border-bottom-right-radius: map_get(map_get($theme, dropdown), border-radius);
    background-color: map_get(map_get($theme, dropdown), background);
    border-color: map_get(map_get($theme, dropdown), border-color);
  }
  .#{map_get($theme, name)} .cl-dropdown__item {
    font-family: map_get(map_get($theme, dropdown), font-family);
    font-size: map_get(map_get($theme, dropdown), font-size);
    color: map_get(map_get($theme, dropdown), color);
  }
  .#{map_get($theme, name)} .cl-dropdown::-webkit-scrollbar-thumb {
    background-color: map_get(map_get($theme, dropdown), thumb-background);
    border-color: map_get(map_get($theme, dropdown), scroll-background);
  }
  .#{map_get($theme, name)} .cl-dropdown::-webkit-scrollbar {
    background-color: map_get(map_get($theme, dropdown), scroll-background);
  }
}
