$theme-dark-blue: (
        name: theme-dark-blue,
        title: (
                font-family: 'OpenSans-ExtraBold',
                font-size: 18px,
                color: #ffffff
        ),
);

$theme-green: (
        name: theme-green,
        title: (
                font-family: 'OpenSans-ExtraBold',
                font-size: 18px,
                color: #ffffff
        ),
);