$theme-dark-blue: (
        name: theme-dark-blue,
        title: (
                font-family: 'OpenSans-ExtraBold',
                font-size: 18px,
                color: #d0021b
        ),
        subtitle : (
                font-family: 'OpenSans-ExtraBold',
                font-size: 16px,
                color: #273952
        ),
        select-title: (
                title-color: #000000,
                title-font-size: 14px,
                title-font-family: 'OpenSans-Regular',
        ),
        select-item :(
                font-size: 14px,
                font-family: 'OpenSans-Regular',
                color: #273952,
                color-active: #ffffff,
                background-color: #273952,
        ),
        dropdown :(
                border-color: #273952,
                border-radius: 24px,
                background: transparent,
                font-family: OpenSans-Regular,
                font-size: 14px,
                color: #273952,
                scroll-background: #273952,
                thumb-background: #fce23f,
        ));

$theme-green: (
        name: theme-green,
        title: (),
        subtitle : (),
        select-title: (),
        select-item :(),
        dropdown :()
);