/** to customize the look and feel the calc
* override this variables **/

// styles for calc container
$calc-sm-width: 322px;
$calc-sm-height: 470px;
$calc-sm-border-radius: 15px;
$calc-sm-border: 0;
$calc-sm-background-color: #273952;
$calc-sm-background-url: url("../images/icons/payments.svg");
$calc-sm-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
$calc-sm-box-padding: 36px 30px;

%calc-sm-wrap-custom {
  z-index: 100;
  height: $calc-sm-height;
  width: $calc-sm-width;
  border-radius: $calc-sm-border-radius;
  padding: $calc-sm-box-padding;
  box-shadow: $calc-sm-box-shadow;
  border: $calc-sm-border;
  background: $calc-sm-background-color $calc-sm-background-url no-repeat center calc(100% - 37px)/80% auto;
  @include respond-to($xx-bt) {
    padding: 20px 15px;
  }
}

.calc-sm-wrap {
  @extend %calc-sm-wrap-custom;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: row wrap;
  align-content: flex-start;
  @include respond-to($xs-bt) {
    margin-left: 0;
    margin-right: auto;
  }
}

//styles  for input
$input-height: 44px;
$input-border-radius: 5px;
$input-background-color: #ffffff;
$input-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
$input-border: 0;
$input-margin: 0 0 6px;

.calc-sm-input {
  position: relative;
  flex: 0 0 100%;
  height: $input-height;
  border-radius: $input-border-radius;
  background-color: $input-background-color;
  box-shadow: $input-box-shadow;
  border: $input-border;
  margin: $input-margin;
}

.calc-sm-counter-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.calc-sm-counter {
  @extend %center-flex;
  height: 100%;
  width: 50px;
  text-align: center;
  color: #273952;
  font-size: 27px;
  cursor: pointer;
  &--plus {
  }
  &--minus {
  }
}

.calc-sm-page-value {
  height: 100%;
  &__input {
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    font-size: 14px;
    letter-spacing: normal;
    color: #273952;
    cursor: text;
    width: 30px;
  }
}