@import 'table-prices/main';
@import 'calc-small/main';
@import 'calc-large/main';
//@import '~bootstrap/scss/bootstrap.scss';

.calc-lg{
  display: flex;
  justify-content: center;
  padding: 50px;
  background: #30505a;
  &.theme-dark-blue{
    background: linear-gradient(180deg,#ffc600,#ffa300);
  }
}
